@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  font-family: 'Jua', sans-serif;
  text-align: center;
  background-color: #cbdbe9;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.root {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 0.5px solid;
  margin: 1%;
  margin-bottom: 10px;
}

h2 {
  margin-top: 2%;
  margin-bottom: 0%;
}

.componentDiv {
  border: 2px solid;
  border-radius: 2em;
  height: 100%;
}

.overNlocation {
  height: 550px;
}

.overallDiv {
  border: 2px solid;
  border-radius: 2em;
  height: 48%;
}

.locationDiv {
  border: 2px solid;
  border-radius: 2em;
  height: 49%;
}

.oneTable {
  padding: 10%;
  width: 100%;
}

.locationTable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.overallImage {
  margin: 1%;
}

.detailStatusImage {
  margin: 1%;
}

.SBDDiv {
  padding: 0%;
}